@model ASPCoreGroupB.Models.Dosen

@{
    Layout = "_Layout";
}

<h2>Detail Dosen</h2>
<a asp-action="Index" class="btn btn-success btn-xs">Lihat Data</a>
<br><br>
<div class="row">
@if(ViewData["pesan"]!=null){
    @Html.Raw(ViewData["pesan"])
}
<br/><br/>
</div>

<div class="col-md-6">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger" />
        <div class="form-group">
            <label asp-for="Nik">Nik</label>
            <input asp-for="Nik" type="text" class="form-control" readonly="readonly" />
        </div>
        <div class="form-group">
            <label asp-for="Nama">Nama</label>
            <input asp-for="Nama" type="text" class="form-control" />
            <span asp-validation-for="Nik" class="text-danger" />
        </div>
        <div class="form-group">
            <label asp-for="Alamat">Alamat</label>
            <input asp-for="Alamat" type="text" class="form-control" />
            <span asp-validation-for="Nik" class="text-danger" />
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" type="text" class="form-control" />
            <span asp-validation-for="Nik" class="text-danger" />
        </div>
        <div class="form-group">
            <input type="submit" value="Edit" class="btn btn-primary" />
        </div>
    </form>
</div>